.rectangle {
    width: 1400px; /* Width of the rectangle */
    height: 592px; /* Height of the rectangle */
    background-color:#FFCD9E; /* Background color of the rectangle */
}

.content{
position: absolute;
width: 262px;
height: 55px;
left: 136px;
top: 83px;

font-family: 'Inter';
font-style: normal;
font-weight: 100;
font-size: 12px;
line-height: 150%;
}
.content2{
position: absolute;
width: 495px;
height: 81px;
left: 136px;
top: 240px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 160%;
/* or 32px */
display: flex;
align-items: center;
color: #282828;
}

.content3{
    position: absolute;
width: 227px;
height: 81px;
left: 136px;
top: 315px;

font-family: 'Inter';
font-style: normal;
font-weight: 800;
font-size: 20px;
line-height: 160%;
/* or 32px */
display: flex;
align-items: center;

color: #282828;

}

.image{
    position: absolute;
width: 132px;
height:20px;
left: 830px;
top: 100px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 160%;
/* or 32px */
text-align: right;

color: #FFFFFF;

}

.box1{
    /* Rectangle 9 */

box-sizing: border-box;
position: absolute;
width: 344px;
height: 64px;
left: 136px;
top: 411px;

background: #FFFFFF;
border: 4px solid #000000;
border-radius: 8px;

}

.email{
    /* Your e-mail address */

position: absolute;
width: 350px;
height: 64px;
left: 158px;
top: 411px;

font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 160%;
/* or 32px */
display: flex;
align-items: center;

color: #888888;



}

.button{
/* Group 3 */

position: absolute;
width: 216px;
height: 64px;
left: 496px;
top: 411px;



}

.box4{
position: absolute;
width: 344px;
height: 61px;
left: 185px;
top: 479px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 160%;
/* or 26px */
display: flex;
align-items: center;
text-align: center;
color: #991818;

}

.rectangle2{
    width: 1400px; /* Width of the rectangle */
    height:298px; /* Height of the rectangle */
    top:592px;
    background-color:#282828; /* Background color of the rectangle */
}

.box5{
    position: absolute;
width: 216px;
height: 36px;
left: 191px;
top: 614px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 160%;
/* or 32px */

color: #FFFFFF;

position: absolute;
width: 216px;
height: 36px;
left: 191px;
top: 614px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 160%;
/* or 32px */

color: #FFFFFF;

}

.box6{
    position: absolute;
width: 148px;
height: 36px;
left: 1099px;
top: 614px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 160%;
/* or 32px */
text-align: right;

color: #FFFFFF;

position: absolute;
width: 232px;
height: 36px;
left: 1015px;
top: 614px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 160%;
/* or 32px */
text-align: right;

color: #FFFFFF;
}

.linkedin{
    position: absolute;
width: 29.41px;
height: 27.42px;
left: 1179px;
top: 728.58px;
}

.instagram{
    position: absolute;
width: 29.41px;
height: 27.42px;
left: 1217.59px;
top: 728.58px;
}

.dweep{
    position: absolute;
width: 232px;
height: 36px;
left: 1015px;
top: 798px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 160%;
/* or 32px */
text-align: right;

color: #FFFFFF;

}